{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="register">
  <div class="titles container">
    <h1>Sign in now</h1>
    <hr class="separator">
  </div>

  {{ form_start(registrationForm) }}
  {{ form_row(registrationForm.username) }}
  {{ form_row(registrationForm.plainPassword, {
              label: 'Password'
          }) }}
  {{ form_row(registrationForm.avatar) }}
  <button type="submit" class="btn">Register</button>
  {{ form_end(registrationForm) }}

  <div class="container">
      <img class="img-avatar" src="" />
  </div>
</section>
<script>

function change() {
  select = document.querySelector("select");
  choice = select.selectedIndex;
  valeur = select.options[choice].attributes.name.textContent;
  document.querySelector(".img-avatar").src = 'build/' + valeur;
}

</script>
{% endblock %}